@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
    color: #f4f4f5;
    margin: 8px;
    padding: 4px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.ulNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    font-size: 1.6em;
    padding-right: 8px;
    overflow: auto;
}
.navBar-right{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 40px;
    font-size: 1.6em;
}
.about{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.aboutme{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 450px;
    top: 100px;
    font-size: 1em;
    
}
.imagem{
    box-sizing: border-box;
    height: 20em;
    width: 20em;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #0369a1;
}
.imagem > img{
    position: inherit;
    height: 28em;
    width: auto;
}
.list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    left:32px;
    top: 500px;
}
.list > li:hover{
    background-color: #38bdf8;
    border-radius: 10%;
    font-size: 1.1rem;
    cursor: pointer;
}


